.parrafocentral{
    font-size: 22px;
    color: rgb(255, 0, 136);
    text-align:justify;
}

.contacto{
    font-size: 28px;
    color:rgb(255, 241, 38);
    text-align: center;
    font-family: 'Sniglet', cursive;
}


.inicio{
    font-size: 30px;
    color:rgb(250, 250, 224);
    text-align: center;
    font-family: 'Merienda One', cursive;
}

.correo{
    font-size: 26px;
    text-align: center;
    color: rgb(104, 94, 94);
}

footer{
    background-color: rgb(8, 241, 19);
}

#logo{
    position: relative;
    width: 100px;
    height: auto;
    left: auto;
}

#img{
    position: relative;
    width: 800px;
    height: auto;
    left: 1200px;
    right: auto;
}

#parr1{
    position:relative;
    text-align: justify;
    width:1000px;
    height: auto;
    left: auto;
    right: 750px;
}