h1{
    font-weight: bold;
    color: rgb(255, 0, 255);
}

h2{
    font-weight: bold;
    color:rgb(255, 150, 64) ;
}

.mensaje{
    font-size: 21px;
    font-style: italic;
    color: rgb(59, 126, 250);
    text-align:justify;
}

#logo{
    position: relative;
    width: 100px;
    height: auto;
    left: auto;
}

