h1{
    font-weight: bold;
    color:rgb(21, 255, 0);
}

h2{
   font-weight: bold;
}

.textoMotivate{
    text-align:justify;
    font-style: italic;
    font-size: 20px;
    color: rgb(138, 51, 251);
}

.textoEmprende{
    text-align:justify;
    font-style: italic;
    font-size: 20px;
    color: rgb(138, 51, 251);
}