h1{
    font-weight: bold;
    color:rgb(0, 255, 55);
}

h2{
   font-weight: bold;
}

.textemprende1{
    text-align:justify;
    font-style: italic;
    font-size: 20px;
    color: rgb(142, 58, 253);
}

.textemprende2{
    text-align:justify;
    font-style: italic;
    font-size: 20px;
    color: rgb(142, 58, 253);
}

#logo{
    position: relative;
    width: 100px;
    height: auto;
    left: auto;
}